<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Listeners.myListeners"></listener>
		<listener class-name="rerun.RerunAutomationScripts"></listener>
	<!-- 	<listener class-name="base.Base"></listener> -->
		<!-- <listener class-name="excelData.ExcelDataReader"></listener>  -->
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="openmrs.CaptureVitals"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
